* {
    margin: 0%;
    padding: 0%;
}

.box {
    width: 300px;
    border: 1px solid black;
    padding: 15px;
    margin: 20px;
}
.button{
    background-color:black;
    color: white;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid gray;
    padding: 6px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}